@page
@model IndexModel
@{
    ViewData["Title"] = "HTTP DUMP";
}


<div class="text-center">
    <h1 class="display-4">HTTP LOGS</h1>
</div>
<div id="loading"></div>
<table class="table table-hover" id="http-log">
    <thead class="thead-light">
    <tr>
        <td style="width: 250px;">TIME</td>
        <td style="width: 25%;">URL</td>
        <td>BODY</td>
    </tr>
    </thead>
    <tbody></tbody>
</table>

@section Scripts{
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/dump-hub.js"></script>
}
